/* All styles */

body{
	background:#fff;
	color:#666;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
	font-size:1em;
	line-height:1.4em; 
	font-weight:normal;
}
h1, h2, h3, h4, h5, h6{
	font-weight:400;
	font-family:'Oswald', Arial, Helvetica, sans-serif; 
	line-height:1.5em;
	margin:.45em 0;
	padding:0;
} 


/* links */
/* a,
a:visited,
a:active,
a:hover{color:#0099ff;}
a:hover{ text-decoration:none;} */

*{	box-sizing:border-box;
	-moz-box-sizing:border-box;}
  
/* structure */   
.wrapper{
	width: 92%; 
	margin: 0 auto;
}
header{ 
	padding:15px 0;
}
#banner{ 
	text-align:center;
}	
#hero,
#page-header{
	background:#f3f3f3;
	border-top:1px solid #e2e2e2;
	border-bottom:1px solid #e2e2e2;
	padding:20px 0;
	font-size:1.1em;
}
#page-header h1{
	margin:0;
}
.flexslider{
	display:none;
}
#content,
aside,
.vertical-padding{  
	padding:40px 0;
}
p{ margin:0 0 1.5em;}


/* RESPONSIVE IMAGES  */
img{ max-width:100%; height:auto;}


/*MAIN MENU*/
.menu-toggle{
	display:block;
	margin:5px 0;
	background:#333;
	color:#fff;
}

.hr{
	width: 2.5em;
	border: solid 2px;
	border-radius: .30px;
}

li{
	list-style: none;
}
.menu-toggle.toggled-on{
	background:#666;
}
.srt-menu{
	display:none;
}	
.srt-menu.toggled-on{
	display:block;
	position:relative;
	z-index:10;
}

.srt-menu{
	clear:both;
	margin-bottom:60px;
	
}
.srt-menu li a {
	color:#333;
	background:#dadada;
	display:block;
	margin:1px 0; 
	padding:10px;
	text-decoration:none;
	font-size:.9em;
}
.srt-menu li a:hover{
	background:#666;
	color:#fff;
}
.srt-menu li li a {
	background:#e8e8e8;
	padding-left:40px;
}
.srt-menu li li li a {
	background:#efefef;
	padding-left:80px;
}

/*SECONDARY MENU*/
#secondary-navigation{
	margin-bottom:60px;
}
#secondary-navigation ul{
	margin:0;
	padding:0;
	list-style: none;
}
#secondary-navigation ul li a{ 
	background:#E6E6E6;
	color:#333;
	display:block;
	margin:5px 0; 
	padding:10px;
	text-decoration:none;
	
}
#secondary-navigation ul li a:hover,
#secondary-navigation ul li.current a{
	background:#333;
	color:#fff;
}

/*SPACE GRID ELEMENTS VERTICALLY*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	margin-bottom:40px;
	position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

/*FOOTER*/
footer{  
	background:#333;
	color:#ccc;
	font-size:80%;
	padding:5px 0;
 
	position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
footer ul{
	margin:0 0 0 8%;
	padding:0;
}

a.buttonlink{ 
	background:#333; 
	border-radius:20px; 
	color:#fff;
	display:block;
	float:left; 
	margin:10px 15px 10px 0; 
	padding:10px;
	text-decoration:none;
}
a.buttonlink:hover{
	background:#666;
}
.smoke{
	background:#f3f3f3;
	border-top:1px solid #e2e2e2;
	border-bottom:1px solid #e2e2e2;
}

.smoke2{
	background:#f3f3f3;
	border-top:1px solid #e2e2e2;
	border-bottom:1px solid #e2e2e2;
	border-left:1px solid #e2e2e2;
	border-right:1px solid #e2e2e2;
	border-bottom:1px solid #e2e2e2;
	padding: 0 4em;
}
.violetelement{
	background:#887dc2;
	color:#fff;
}


/* Contain floats*/ 
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.row:after{
  clear: both;
}



/****************************************
MEDIAQUERIES
****************************************/

/*
 MOBILE DEVICES
*/
@media only screen and (min-width: 481px) {
#banner{
	float:left;
	text-align:left;
	margin-bottom:-20px;
}
.menu-toggle{
	margin-top:10px; 
	float:right;
}

} 

/*
TABLET 
*/
@media only screen and (min-width: 920px) {

.wrapper{
	max-width: 1200px; 
	margin: .75em auto;
}
header{
	padding:0;
}

#banner{ 
	float:left; 
	text-align:left;
	margin-bottom:0px;
	margin-top:5px;
}

#hero{
	padding:0;
}

#content {  
	float:right;
	width:75%;
}
#content.wide-content{
	float:none;
	width:100%;
}

.flexslider{
	display:block;

/*demo 1 slider theme*/	
margin: 0; 
}
.flex-control-nav {bottom: 5px;}


aside { 
	float:left;
	width:20%;
}

/*** MAIN MENU  ***/
.menu-toggle{display:none;}
#menu-main-navigation{display:block;}

.srt-menu, .srt-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.srt-menu ul {
	position:		absolute;
	display:none;
	width:			12em;
}
.srt-menu ul li {
	width:			100%;
}
.srt-menu li:hover {
	visibility:		inherit;
}
.srt-menu li {
	float:			left;
	position:		relative;
	margin-left:1px;
	height:25px;
}
.srt-menu li li {
	margin-left:0px;
	height:auto;
}
.srt-menu a {
	display:		block;
	position:		relative;
}
.srt-menu li:hover ul,
.srt-menu li.sfHover ul {
	display:block;
	left:			0;
	top:			42px;
	z-index:		99;
	-webkit-box-shadow:  2px 3px 2px 0px rgba(00, 00, 00, .3);
    box-shadow:  2px 3px 2px 0px rgba(00, 00, 00, .3);
}
ul.srt-menu li:hover li ul,
ul.srt-menu li.sfHover li ul {
	top:			-999em;
}
ul.srt-menu li li:hover ul,
ul.srt-menu li li.sfHover ul {
	left:			12em; 
	top:			0;
}
ul.srt-menu li li:hover li ul,
ul.srt-menu li li.sfHover li ul {
	top:			-999em;
}
ul.srt-menu li li li:hover ul,
ul.srt-menu li li li.sfHover ul {
	left:			10em; 
	top:			0;
}


#topnav, .srt-menu {
	float:right;
	margin: .35em 0 0 0;
}
.srt-menu a {
	text-decoration:none;
}
.srt-menu li a{
	background:#fff;
	margin:0; 
	padding:10px 20px;
}
.srt-menu a, .srt-menu a:visited  { 
	color:			#333;	
}
.srt-menu li li a {
		border-top:		1px solid rgba(255,255,255,.2);
		background:		#333; 
		background:rgba(0,0,0,.6);
		color:	#fff;
		padding-left:20px;
}
.srt-menu li li a:visited{color:#fff;}
.srt-menu li li li a,
.srt-menu li.current * li a{
	padding-left:20px;
	background:rgba(0,0,0,.6);
}

.srt-menu li:hover > a,
.srt-menu li.current a{ 
	color:#fff;
	background:#333;
}
.srt-menu li li:hover > a{
	color:#fff;
	background:#666;
}



/*GRID*/
/*
 & Columns : 12 

 */
 .row{
	 margin-left: -15px;
     margin-right: -15px;
}
 
.grid_1 { width: 8.33333333%; }
.grid_2 { width: 16.66666667%; }
.grid_3 { width: 25%; }
.grid_4 { width: 33.33333333%; }
.grid_5 { width: 41.66666667%; }
.grid_6 { width: 50%; }
.grid_7 { width: 58.33333333%; }
.grid_8 { width: 66.66666667%; }
.grid_9 { width: 75%; }
.grid_10 { width: 83.33333333%; }
.grid_11 { width: 91.66666667%; }
.grid_12 { width: 100%; }

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	float: left;
	display: block;
}

.rightfloat{float:right;}

 
#hero .grid_8 { 
	margin:40px 0 -13px;
}

}

/*
DESKTOP
*/
@media only screen and (min-width: 1024px) {
#hero h1{ font-size:1.4em;}
} 


@media only screen and (min-width: 1240px) {
#hero h1{ font-size:2em;}
} 


@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {


} 




/*
PRINT STYLESHEET
*/
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}



.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; 
}

.select-selected {
  background-color: #666;
}


.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}


.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}


.select-items {
  position: absolute;
  background-color: #666;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}


.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

input[type=text], input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
  box-sizing: border-box;
}

.inp-date{
	width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.inp-image{
	width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* Set a style for all buttons */
.button {
  background-color: #333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.pro-ed-button a{
  color: rgb(60, 159, 172);
  padding: 5px 20px;
  margin: 10px 0;
	text-decoration: none;
	font-size: 20px;
}

.pro-del-button a{
  color: rgb(184, 65, 65);
  padding: 5px 20px;
  margin: 10px 0;
	text-decoration: none;
	font-size: 20px;
}
.pro-td-button{
	background-color: rgb(84, 139, 114);
  color: white;
  padding: 5px 15px;
  margin: 10px 5px;
  border: none;
  cursor: pointer;
	width: 80%;
	text-decoration: none;
	text-align: center;
}

.pro-td2-button{
	background-color:rgb(184, 65, 65);
  color: white;
  padding: 5px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
	width: 80%;
	text-decoration: none;
}

button:hover {
  opacity: 0.8;
}



.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
	padding-top: 22px;
}
span.psw a:hover{	
	text-decoration-line: underline;
}
span.signin{
	float: left;
	padding-top: 22px;	
}
span.signin a:hover{	
	text-decoration-line: underline;
}
span.signup{
	float: left;
	padding-top: 22px;
}
span.signup a:hover{	
	text-decoration-line: underline;
}
a{
	text-decoration: none;
}

/* The Modal (background) */
.modal {

  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 


  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 0 auto 15% auto; 
  border: 1px solid #888;
	width: 50%;
	border-radius: 3px; 
}
.box-shadow{
	box-shadow: 0 3px 5px #414040;
}

/* Change styles for the span */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
		 float: none;
  } 
}
.align-center{
      text-align: center;
	}
	
	.alert {
		padding: 10px;
		color: #D8000C;
    background-color: #FFD2D2;
		margin: 5% auto 0 auto; 
    width: 50%; 
	}

	.alert-success{
		padding: 10px;
		color: #4F8A10;
    background-color: #DFF2BF;
		margin: 5% auto 0 auto; 
    width: 50%;
	}
	
	.closebtn {
		margin-left: 15px;
		color: white;
		font-weight: bold;
		float: right;
		font-size: 22px;
		line-height: 20px;
		cursor: pointer;
		transition: 0.3s;
	}
	
	.closebtn:hover {
		color: black;
	}


	#my-table  {
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		border-collapse: collapse;
		width: 100%;
		overflow-x: auto;
		background: #fff;
	}
	

	.table-responsive{
		overflow-x:auto;
		margin-bottom: 50px
	}

	#my-table td, #my-table th {
		border-bottom: 1px solid #ddd;
		padding: 8px;
	}
	
	
	#my-table tr:hover {background-color: #ddd;}
	
	#my-table th {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
		background-color: #333;
		color: white;
	}

	a.postAdBtn{
		background-color: #333;
		color: white;
		text-align: center;
		text-decoration: none;
		margin:10px 15px 10px 0; 
		padding:10px 20px;
	}


	.postAdBtn a:hover{
		background:#666;
	}
	.hr-padding-btm{
		margin-bottom: 15px
	}
	.postAdTitle{
    margin-bottom: 15px
	}

	.table-title{
		text-align: center;
	}


	input[type=submit] {
		width: 100%;
		background-color: #4CAF50;
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	}
	
	input[type=submit]:hover {
		background-color: #45a049;
	}

	#logo a{
		text-decoration: none; 
		font-size: 20px;
		color: #333;
		font-family: monospace; 
	}
	@font-face {
		font-family: monospace;
		src: url(sansation_light.woff);
	}
	#logo{
		padding: 1em 0;
	}

	.mySlides2{
		/* width: 30px;  */
	 height: 400px;
	}

	.black{
		color: white;
		background: #333;
	}
	.display-right{
		float: right;
	}

	.display-left{
		float: left;
	}
.text-black{
	color: #000;
}

.back-color{
	background: #fff;
}

.img-size{
	width: 300px;
	height: 200px;
}

.user-photo{
	border-radius: 100%;
	background-color: #c4bebe;
	width: 7rem;
	height:7rem;
	margin-left: 2em;       
 }

 .property-photo{
	border-radius: 30%;
	background-color: #c4bebe;
	width: 5rem;
	height:5rem;
	/* margin-left: 2em;        */
 }

 .fa{
	font-size: 1.3em;
 }

 .contentt{
	position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
	width: 97.4%;
	height: 96%;
	padding: 100px 300px;
  text-align: center;
  margin-bottom: 20px; 
	padding-bottom: 60px;
 }

 .search-btn{
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
	cursor: pointer;
	border-radius: 2px;
	text-align: center;
 }

 .search-input{
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  width: 80%;
  background: #f1f1f1;
}

@media screen and (max-width: 960px) {
	.contentt{
		margin: 0 0; 
		padding: 0 0; 
		width: 93%;
		height: 100%;
	}
	.search-btn{
		width: 10%;
		padding: 5px;
		font-size: 13px;
	}
	.search-input{
		/* font-size: 7px; */
		width: 10%;
		margin: 50px;
	}
}

@media only screen and (min-width: 920px) {
	.sm-space{
		max-width: 30%;
		margin: 1.666666667%; 
	}
	}
	@media screen  and (max-width: 920px) {
		.sm-space{
			max-width: 45%;
			margin: 1.25%; 
			float: left;
		}
		
	}
	@media screen  and (max-width: 600px) {
		.sm-space{
			max-width: 90%;
			margin: 5%; 
			float: left;
		}
	}